.scheme-container {
  width: 434px;
  height: 114px;
  /* background: #f1ebe5; */
  border-radius: 20px;
}
.scheme-buttons-container {
}
.scheme-button {
  /* font-family: Open Sans; */
  background: #f1ebe5;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  height: 42px;
}
.scheme-hexCodes-container {
}

.hex-codes {
  width: 140px;
  height: 42px;
  color: white;
}
