@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IslandMoments";
  src: url("../src/fonts/IslandMoments-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../src/fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("../src/fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.circle-color-box {
  height: 8em;
  width: 8em;
  font-size: 1rem;
}

.circle-color-box > .center {
  position: absolute;
  top: "50%";
  left: "50%";
  transform: "translate(-50%, -50%)";
  text-align: center;
}

.ai-image{
  border-radius: 3em 0 0 3em;
}

