@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  line-height: 1.5;
  font-weight: 400;
    font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 1rem;
}

h1 {
  font-family: "Island Moments", cursive;
  font-size: 110px;
}

h2 {
  font-family: "Island Moments", cursive;
  font-size: 70px;
}

header {
  font-family: 'Open Sans', sans-serif; 
  font-size: 18px;
}


main {
  @apply flex flex-col items-center justify-center text-center ;
}

a {
  @apply text-teal;
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  @apply text-rose;
}

button {
  border-radius: 25%;
  padding: 1rem;
  @apply rounded-full py-2 px-4 text-rose border border-rose;
  transition: all 0.25s linear; 
}

button:hover {
  @apply bg-rose text-white;
  transform: scale(1.1) translateY(-rem);
}